* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width:749px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width:576px) {
  html {
    font-size: 11px !important;
  }
}